Project for statstics where the assignment is to explore a dataset and use some of the tools we been working on. This is very basic

In [100]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats as scs 
import pandas as pd


iris_file = '/Users/joeloscarsson/Documents/www/Statistics/Data/iris.csv'

df = pd.read_csv(iris_file)

display(df.info(),
df.describe(),
df.head(),
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sepal_length   150 non-null    float64
 1    sepal_width   150 non-null    float64
 2    petal_length  150 non-null    float64
 3    petal_width   150 non-null    float64
 4    class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

       sepal_length   sepal_width   petal_length   petal_width
count    150.000000    150.000000     150.000000    150.000000
mean       5.843333      3.054000       3.758667      1.198667
std        0.828066      0.433594       1.764420      0.763161
min        4.300000      2.000000       1.000000      0.100000
25%        5.100000      2.800000       1.600000      0.300000
50%        5.800000      3.000000       4.350000      1.300000
75%        6.400000      3.300000       5.100000      1.800000
max        7.900000      4.400000       6.900000      2.500000

   sepal_length   sepal_width   petal_length   petal_width        class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

In [131]:
unique_classes = df.rename(columns= {" class": "Blomtyper",
 "sepal_length": "Foderbladslängd",
  'sepal_width': 'Foderbladslängd'})
unique_classes['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

## Några frågeställningar jag vill spana på under detta datasetet är.
- Skiljer sig kronbladsbredden mellan de olika blomtyperna avsevärt?
Det jag undersöker är då om petal width (Kronbladsbredd) för iris-setosa skiljer sig från bredden på kronblad för samtliga olika klasser blommor. 

## $\mu_0$ = 216 mm). 

Med en signifikansnivå på 
## $\alpha = 0.05$.
Och med avsevärt menar jag med mindre än 10%. 

Så H0 = Högre än 10%
   H1 = Mindre än 10%

Konstruera ett hypotestest som undersöker om längden på simfenorna för Gentoo-pingviner skiljer sig från längden på simfenor för alla pingviner (antag att populationsmedelvärdet

sepal = foderbladsbredd

# Linjär regression
-  Om man kan avgöra bara på Kronbladsbredden om man kan säga något om längden för bladen. 
- Man kan ta hänsyn till att hypotestestet endast testar bredd. När man kanske egentligen kan säga ngt OM både längd och bredd. Men i detta fall så gäller bredd.